# IDE-related files
.idea/
.vscode/
.vs/
*.sublime-workspace

.cache/
.gradle/
local.properties
.cxx

CMakeUserPresets.json

# Build directories
out/
build/
cmake-build*/

# OS-related files
.DS_Store
